@using System.Globalization
@using PersonalWebsite.Data.Entities
@{
    ViewData["Title"] = "Muhammed Nilifırka";
}
<div class="container-lg p-3">
    <header class="px-3 mb-3">
        <h1 class="fs-2 mb-0 text-body">Yazılarım:</h1>
    </header>
    <div class="col col-lg-8">
        <hr class="opacity-25 my-0 mx-3" />
    </div>
    <main>
        @foreach (Post post in ViewBag.Posts)
        {
            <div class="p-3">
                <a href="/blog/@post.PostId" class="fw-semibold fs-3 link-underline link-underline-opacity-0 link-underline-opacity-100-hover">
                    @post.PostTitle
                </a>
                <p class="d-flex fs-5 mb-2 fw-normal text-body">@post.PostDescription</p>
                <p class="d-flex pt-1 mb-0 fs-6 fw-light text-body-secondary">@post.CreationTime.ToString("MMMM dd,yyyy")</p>
            </div>
        }
    </main>
</div>