@{
    ViewData["Title"] = ViewBag.Post.PostTitle;
}
@section Styles {
    <link rel="stylesheet" href="~/css/blog-post.min.css" />
}
<div class="container">
    <article id="blog-post" class="row justify-content-center">
        <div class="col-lg-8 px-3">
            @Html.Raw(ViewBag.PostHtmlContent)
        </div>
    </article>
</div>
